src/main/resources/wsdl/IPRSServerwcf_9004.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServerInterface" targetNamespace="http://tempuri.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://tempuri.org/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="IPRSServerWCFxsd0.xsd" namespace="http://tempuri.org/"/>
			<xsd:import schemaLocation="IPRSServerWCFxsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="IPRSServerWCFxsd2.xsd" namespace="http://schemas.datacontract.org/2004/07/IPRSManager"/>
			<xsd:import schemaLocation="IPRSServerWCFxsd3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IServiceIPRS_Login_InputMessage">
		<wsdl:part name="parameters" element="tns:Login"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_Login_OutputMessage">
		<wsdl:part name="parameters" element="tns:LoginResponse"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_GetDataByIdCard_InputMessage">
		<wsdl:part name="parameters" element="tns:GetDataByIdCard"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_GetDataByIdCard_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetDataByIdCardResponse"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_GetDataByPassport_InputMessage">
		<wsdl:part name="parameters" element="tns:GetDataByPassport"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_GetDataByPassport_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetDataByPassportResponse"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_GetDataByAlienCard_InputMessage">
		<wsdl:part name="parameters" element="tns:GetDataByAlienCard"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_GetDataByAlienCard_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetDataByAlienCardResponse"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_VerificationByIdCard_InputMessage">
		<wsdl:part name="parameters" element="tns:VerificationByIdCard"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_VerificationByIdCard_OutputMessage">
		<wsdl:part name="parameters" element="tns:VerificationByIdCardResponse"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_VerificationByPassport_InputMessage">
		<wsdl:part name="parameters" element="tns:VerificationByPassport"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_VerificationByPassport_OutputMessage">
		<wsdl:part name="parameters" element="tns:VerificationByPassportResponse"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_VerificationByAlienCard_InputMessage">
		<wsdl:part name="parameters" element="tns:VerificationByAlienCard"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_VerificationByAlienCard_OutputMessage">
		<wsdl:part name="parameters" element="tns:VerificationByAlienCardResponse"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_PingService_InputMessage">
		<wsdl:part name="parameters" element="tns:PingService"/>
	</wsdl:message>
	<wsdl:message name="IServiceIPRS_PingService_OutputMessage">
		<wsdl:part name="parameters" element="tns:PingServiceResponse"/>
	</wsdl:message>
	<wsdl:portType name="IServiceIPRS">
		<wsdl:operation name="Login">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceIPRS/Login" message="tns:IServiceIPRS_Login_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceIPRS/LoginResponse" message="tns:IServiceIPRS_Login_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetDataByIdCard">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceIPRS/GetDataByIdCard" message="tns:IServiceIPRS_GetDataByIdCard_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceIPRS/GetDataByIdCardResponse" message="tns:IServiceIPRS_GetDataByIdCard_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetDataByPassport">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceIPRS/GetDataByPassport" message="tns:IServiceIPRS_GetDataByPassport_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceIPRS/GetDataByPassportResponse" message="tns:IServiceIPRS_GetDataByPassport_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="GetDataByAlienCard">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceIPRS/GetDataByAlienCard" message="tns:IServiceIPRS_GetDataByAlienCard_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceIPRS/GetDataByAlienCardResponse" message="tns:IServiceIPRS_GetDataByAlienCard_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="VerificationByIdCard">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceIPRS/VerificationByIdCard" message="tns:IServiceIPRS_VerificationByIdCard_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceIPRS/VerificationByIdCardResponse" message="tns:IServiceIPRS_VerificationByIdCard_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="VerificationByPassport">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceIPRS/VerificationByPassport" message="tns:IServiceIPRS_VerificationByPassport_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceIPRS/VerificationByPassportResponse" message="tns:IServiceIPRS_VerificationByPassport_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="VerificationByAlienCard">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceIPRS/VerificationByAlienCard" message="tns:IServiceIPRS_VerificationByAlienCard_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceIPRS/VerificationByAlienCardResponse" message="tns:IServiceIPRS_VerificationByAlienCard_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="PingService">
			<wsdl:input wsaw:Action="http://tempuri.org/IServiceIPRS/PingService" message="tns:IServiceIPRS_PingService_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IServiceIPRS/PingServiceResponse" message="tns:IServiceIPRS_PingService_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IServiceIPRS" type="tns:IServiceIPRS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Login">
			<soap:operation soapAction="http://tempuri.org/IServiceIPRS/Login" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDataByIdCard">
			<soap:operation soapAction="http://tempuri.org/IServiceIPRS/GetDataByIdCard" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDataByPassport">
			<soap:operation soapAction="http://tempuri.org/IServiceIPRS/GetDataByPassport" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetDataByAlienCard">
			<soap:operation soapAction="http://tempuri.org/IServiceIPRS/GetDataByAlienCard" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VerificationByIdCard">
			<soap:operation soapAction="http://tempuri.org/IServiceIPRS/VerificationByIdCard" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VerificationByPassport">
			<soap:operation soapAction="http://tempuri.org/IServiceIPRS/VerificationByPassport" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VerificationByAlienCard">
			<soap:operation soapAction="http://tempuri.org/IServiceIPRS/VerificationByAlienCard" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PingService">
			<soap:operation soapAction="http://tempuri.org/IServiceIPRS/PingService" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServerInterface">
		<wsdl:port name="BasicHttpBinding_IServiceIPRS" binding="tns:BasicHttpBinding_IServiceIPRS">
			<soap:address location="http://10.1.1.6:9004/IPRSServerWCF"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
